* {
    box-sizing: border-box;
}

/* Header and Nav Bar */
header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 28px;
    margin: 0;
}

header {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 18px;

}

header nav {
    margin: 7px 0;

}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  .nav-item {
      padding: 12px 20px;
      margin-right: 15px;
      font-size: 20px;
  }

  /* Hero Image */


  /* Main container */
  

  .flex-section {
      border: 1px solid black;
      display: flex;
  
      
  }

  .section-header {
     padding: 20px;
     text-align: center;
     width: 25%;

  }

  /* About Me */

  .about-me {
      border: 1px solid black;
      margin-left: 60px;
     
  }

  .about-body {
    border: 1px solid black;
    margin-left: 60px;
    padding-left: 10px;
  }

  /* Work Images */
    section {
        border: 1px solid black;
        text-align: center;
    }

    div img {
        border: 5px solid black;
        padding: 5px;

    }

    div section ul {
        list-style: none;
    }

    /* Footer */
    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
      
    }

    footer ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        padding: 10px;
    }

    footer ul li {
        padding-right: 30px;
    }